body {
  // tb - top-bottom
  @include linear-gradient-tb($deep-space-main, $night-sky-main);

  font-family: 'Mina';
  margin: 0;
}

@font-face {
    font-family: 'Caviar Dreams';
    src: url('fonts/caviardreams/caviardreams-webfont.eot');
    src: url('fonts/caviardreams/caviardreams-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/caviardreams/caviardreams-webfont.woff2') format('woff2'),
         url('fonts/caviardreams/caviardreams-webfont.woff') format('woff'),
         url('fonts/caviardreams/caviardreams-webfont.ttf') format('truetype'),
         url('fonts/caviardreams/caviardreams-webfont.svg#caviar_dreamsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

#select2-drop {
  background: $night-sky-main;
  border: none;

  .select2-results .select2-highlighted {
    background-color: $purple-main;
  }

}

#search {
  padding: $padding-vast 0 0 0;
}

/* #searchForm */
#searchForm {
  $_select2-container-width: $search-form-width - $search-loop-size;

  position: relative;
  width: $search-form-width;

  margin: auto;

  .select2-results {
    padding: 0;
    margin: 0;

    background-color: $purple-main;
  }

  .select2-container {

    /* Override select2 inline style for 100% width */
    &.select2-container-multi {
      width: $_select2-container-width !important;
    }

  }

  /* .select2-container-multi */
  .select2-container-multi {

    .select2-choices {
        width: $_select2-container-width;
        min-height: 35px;

        margin: auto;

        background: transparent;
        border: none;
        border-bottom: 1px solid rgba(255,255,255,0.65);
    }

  }
  /* .select2-container-multi */

  /* .select2-search-choice */
  .select2-search-choice {
    background: $purple-main;
    color: $deep-space-main;
    border: none;

    -webkit-box-shadow: none;
    box-shadow: none;
    line-height: 16px;
  }
  /* .select2-search-choice */

  .searchSubmit {
    position: absolute;
    width: $search-loop-size;
    height: $search-loop-size;

    background: url("../../assets/images/icons/search.svg");
    border: none;
    color: #fff;

    top: 0;
    right: 0;

    cursor: pointer;
  }
}
/* #searchForm */

#navigation-menu {
  display: none;
}

.select2-drop {
  margin: 0;

  color: #afb1b2;
}

.excerpt {
  color: $text-main;
  font-size: 15px;
  padding: 20px;

  h1 {
    font-size: 24px;
  }

  p {
    font-size: 17px;
  }
}

.handheld-header {
  width: 100%;
  height: $handheld-header-height;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;

  background-color: $purple-main;
}

.floating-menu {
  display: none;
  width: 300px;
  height: 120px;

  position: fixed;
  bottom: 95px;
  right: 10px;
  z-index: 99999;

  background-color: transparent;
  transform: rotate(225deg);

  .commet {
    width: 120px;
    height: 120px;

    float: left;

    background-color: #9f7be1;
    border-radius: 50% 0 0 50%;

    .commet-core {
      width: 90px;
      height: 90px;

      margin: 15px;

      background-color: #7145c1;
      border-radius: 50%;

          .commet-message {
            text-transform: uppercase;
            font-size: 15px;
          }

          span {
            position: absolute;
            width: 60px;
            height: 4px;
            background-color: black;
            transform: rotate(136deg);
            top: 58px;
            left: 27px;


            &::after {
              position: absolute;
              content: '';
              background-color: black;
              width: 50px;
              height: 4px;
              bottom: 15px;
            }

            &::before {
              position: absolute;
              content: '';
              background-color: black;
              width: 50;
              height: 4px;
              top: 15px;
            }

          }
    }
  }

  .commet-tail {
    width: 180px;
    height: 120px;

    float: right;

    background-color: transparent;

    .child-tail-1 {
      width: 180px;
      height: 30px;
      background-color: transparent;

        .child-tail-inner-1 {
          width: 65px;
          height: 30px;
          float: left;
          border-radius: 0 20px 20px 0;

          background-color: #9f7be1;
        }

        .child-tail-inner-2 {
          position: relative;
          width: 45px;
          height: 25px;
          float:right;
          border-radius: 20px 20px 20px 20px;
          margin-right: 50px;

          background-color: #9f7be1;

          &::before {
            content: '';
            position: absolute;
            left:45px;
            top: 30px;
            width: 45px;
            height: 25px;
            background-color: #9f7be1;
            border-radius: 20px 20px 20px 20px;
          }
        }
    }

    .child-tail-2 {
      width: 180px;
      height: 30px;
      background-color: transparent;

          .child-tail-inner-1 {
            width: 30px;
            height: 30px;
            float: left;
            border-radius: 0 20px 20px 0;

            background-color: #9f7be1;
          }
    }

    .child-tail-3 {
      width: 180px;
      height: 30px;
      background-color: transparent;

          .child-tail-inner-1 {
            width: 85px;
            height: 30px;
            float: left;
            border-radius: 0 20px 20px 0;

            background-color: #9f7be1
          }
    }

    .child-tail-4 {
      width: 180px;
      height: 30px;
      float: left;
      background-color: transparent;

          .child-tail-inner-1 {
            width: 140px;
            height: 30px;
            float: left;
            border-radius: 0 20px 20px 0;

            background-color: #9f7be1
          }
    }

  }

}

a {
  &.excerpt {
    text-decoration: none;
    color: #000000;
  }
}
