/* padding metrics */
$padding-vast: 100px;

/* Standard site elements */
$search-form-width: 250px;
$search-loop-size: 30px;
/* Header height specified in IOS guidelines */
$handheld-header-height: 60px;
